@font-face {
    font-family: 'HelveticaNeueW01-77BdCnObl';
    src: url('HelveticaNeueW01-77BdCnObl.woff2') format('woff2'),
        url('HelveticaNeueW01-77BdCnObl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueW01-66MediumIt';
    src: url('HelveticaNeueW01-66MediumIt.woff2') format('woff2'),
        url('HelveticaNeueW01-66MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

