
.hero {
    * {
        color: white;
    }

    background: linear-gradient(to bottom, rgba(26, 71, 137, 1) 39%, rgb(109, 187, 217)100%);
    height: 90vh;
    overflow: hidden;
    perspective: 100px;
    transform-style: preserve-3d;

    &:after{
        content: "";
        // width: 101%;
        height: 100px;
        position: absolute;
        bottom: -100px;
        left: -5%;
        right: -5%;
        background-color: rgb(255, 255, 255);
        transform: rotateZ(357deg);
        transform-origin: 0 0;
    }

    .hero-inner {
        position: relative;
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        
        &::before {
            content: '';
            background-image: url(../images/circle.svg),url(../images/circle.svg),url(../images/circle.svg);
            background-repeat: no-repeat;
            opacity: .2;
            background-size: 100px,105px,55px;
            background-position: 96% -50px, 64% 84%, 4% 95%;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;;
            z-index: 0;
            @include respond-above(xl){
                background-size: 195px;
            }
        }
    }


    .hero-text-area {
        padding: 40px 0;
        position: relative;
        z-index: 1;

        @include respond-above(sm) {
            max-width: 500px;
            margin-left: 60px;
            margin-top: 20px;
        }

        @include respond-above(xl) {
            max-width: 700px;
            margin-right: 144px;
        }
    }

    .hero-img-area {
        @include respond-above(sm) {
            margin-left: 80px;
        }
        img {
            @include respond-above(sm) {
                  max-width: 340px;
            }

            @include respond-above(xl) {
                max-width: 615px;
            }
        }
    }

}