$primary-color:#072753;
$secondary-color:#FF9C00;
$primary-color-light:#1B498A;
$text-color:#28384E;
$primary-font:'HelveticaNeue','sans-serif'; //font-family
$font-500:500; //font weight
$font-normal:normal; //font weight