@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueW01-77BdCnObl.woff2") format("woff2"), url("../fonts/HelveticaNeueW01-77BdCnObl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueW01-66MediumIt.woff2") format("woff2"), url("../fonts/HelveticaNeueW01-66MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-weight: bold;
}
@media (min-width: 640px) {
  h1 {
    font-size: 32px;
    line-height: 50px;
  }
}
@media (min-width: 1600px) {
  h1 {
    font-size: 50px;
    line-height: 70px;
  }
}

h2,
.title {
  color: #072753;
  font-size: 32px;
  font-weight: bold;
}
@media (min-width: 1600px) {
  h2,
  .title {
    font-size: 40px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #072753;
}

h4 {
  font-size: 14px;
  color: #1B498A;
}

p {
  color: #28384E;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  display: inline-block;
}

.uk-container-small {
  max-width: 900px;
}

.uk-flex {
  flex-direction: column;
}
@media (min-width: 640px) {
  .uk-flex {
    flex-direction: row;
  }
}

.section-title {
  max-width: 700px;
  margin: 0 auto 50px;
}
@media (min-width: 1600px) {
  .section-title {
    max-width: 734px;
    margin: 0 auto 60px;
  }
}

.primary-button {
  background-color: #FF9C00;
  color: white;
  font-size: 12px;
  padding: 10px 25px;
  border-radius: 5px;
  transition: color ease 0.5s;
}
@media (min-width: 640px) {
  .primary-button {
    padding: 5px 12px;
  }
}
@media (min-width: 1600px) {
  .primary-button {
    font-size: 15px;
  }
}
.primary-button:hover {
  color: #072753;
}

.secondary-btn {
  font-size: 14px;
  color: #1B498A;
  text-transform: capitalize;
  position: relative;
  transition: color 0.3s ease;
}
@media (min-width: 1600px) {
  .secondary-btn {
    font-size: 15px;
  }
}
.secondary-btn:after {
  content: "";
  background: url(../images/icons/right-arrow.svg) no-repeat center center;
  position: absolute;
  right: 0;
  margin: auto;
  width: 12px;
  height: 7px;
  top: 0;
  bottom: 0;
  transform: translateX(20px) translateY(2px);
}
.secondary-btn:hover {
  color: #FF9C00;
}
.secondary-btn:hover:after {
  transform: translateX(25px) translateY(2px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
@media (min-width: 640px) {
  header .uk-flex {
    height: 70px;
  }
}
@media (min-width: 1600px) {
  header .uk-flex {
    height: 148px;
  }
}
header .logo {
  transform: translateY(-25px);
}
@media (max-width: 639px) {
  header .logo {
    max-width: 70px;
    transform: translateY(-20px);
  }
}
@media (min-width: 640px) {
  header .logo {
    max-width: 120px;
  }
}
@media (min-width: 1600px) {
  header .logo {
    max-width: 210px;
  }
}
header .logo img {
  width: 100%;
}
header .navbar ul li {
  margin: 0 10px;
}
@media (min-width: 1600px) {
  header .navbar ul li {
    margin: 0 20px;
  }
}
header .navbar ul li a {
  font-size: 12px;
  color: white;
  transition: color 0.5s ease;
}
header .navbar ul li a:hover {
  color: #FF9C00;
}
@media (min-width: 1600px) {
  header .navbar ul li a {
    font-size: 15px;
  }
}
@media (min-width: 640px) {
  header .navbar ul {
    display: flex;
  }
}

.hero {
  background: linear-gradient(to bottom, rgb(26, 71, 137) 39%, rgb(109, 187, 217) 100%);
  height: 90vh;
  overflow: hidden;
  perspective: 100px;
  transform-style: preserve-3d;
}
.hero * {
  color: white;
}
.hero:after {
  content: "";
  height: 100px;
  position: absolute;
  bottom: -100px;
  left: -5%;
  right: -5%;
  background-color: rgb(255, 255, 255);
  transform: rotateZ(357deg);
  transform-origin: 0 0;
}
.hero .hero-inner {
  position: relative;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
}
.hero .hero-inner::before {
  content: "";
  background-image: url(../images/circle.svg), url(../images/circle.svg), url(../images/circle.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
  background-size: 100px, 105px, 55px;
  background-position: 96% -50px, 64% 84%, 4% 95%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
@media (min-width: 1600px) {
  .hero .hero-inner::before {
    background-size: 195px;
  }
}
.hero .hero-text-area {
  padding: 40px 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 640px) {
  .hero .hero-text-area {
    max-width: 500px;
    margin-left: 60px;
    margin-top: 20px;
  }
}
@media (min-width: 1600px) {
  .hero .hero-text-area {
    max-width: 700px;
    margin-right: 144px;
  }
}
@media (min-width: 640px) {
  .hero .hero-img-area {
    margin-left: 80px;
  }
}
@media (min-width: 640px) {
  .hero .hero-img-area img {
    max-width: 340px;
  }
}
@media (min-width: 1600px) {
  .hero .hero-img-area img {
    max-width: 615px;
  }
}

.icon-info-section {
  margin-top: 80px;
}
@media (min-width: 1600px) {
  .icon-info-section {
    margin-top: 100px;
  }
}
.icon-info-section .uk-grid-column-large {
  margin: auto;
}
.icon-info-section .icon-info-column .icon {
  width: 65px;
  height: 65px;
  background-color: rgba(255, 156, 0, 0.05);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
@media (min-width: 1600px) {
  .icon-info-section .icon-info-column .icon {
    width: 85px;
    height: 85px;
  }
}
.icon-info-section .icon-info-column .info {
  max-width: 332px;
  margin-top: 18px;
}

.info-img-section {
  margin: 60px 0;
}
@media (min-width: 640px) {
  .info-img-section {
    margin: 120px 0;
  }
}
@media (min-width: 640px) {
  .info-img-section .uk-grid-column-large {
    margin: auto;
  }
}
@media (min-width: 640px) {
  .info-img-section .uk-flex-row-reverse img {
    transform: translateX(80px);
  }
}
@media (min-width: 640px) {
  .info-img-section img {
    transform: translateX(-130px);
  }
}
.info-img-section .info {
  max-width: 500px;
}
@media (min-width: 1600px) {
  .info-img-section .info {
    max-width: 552px;
  }
}
.info-img-section .info p + p {
  margin-bottom: 30px;
}

.global-form {
  padding-right: 0;
}
.global-form input {
  height: 50px;
  width: 100%;
  outline: 2px solid #ede5d9;
  background-color: #faf9f7;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}
@media (min-width: 1600px) {
  .global-form input {
    height: 60px;
  }
}
.global-form .primary-button {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 90px;
  text-transform: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  line-height: 15px;
}

.card-layout {
  background: url(../images/BG.jpg) no-repeat center;
  height: 110vh;
  padding: 70px 0 77px;
}
@media (max-width: 639px) {
  .card-layout {
    background: linear-gradient(to left, rgb(109, 187, 217), rgb(26, 71, 137));
    height: auto;
  }
}
@media (min-width: 1600px) {
  .card-layout {
    padding: 96px 0 99px;
  }
}
.card-layout .section-title * {
  color: white;
}
.card-layout .uk-grid {
  margin: 0;
}
.card-layout .uk-card-media-top {
  position: relative;
}
@media (min-width: 640px) {
  .card-layout .uk-card-media-top {
    max-width: 270px;
  }
}
@media (max-width: 639px) {
  .card-layout .uk-card-media-top {
    max-width: none;
    width: 80%;
  }
}
.card-layout .uk-card-media-top:after {
  content: "";
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  right: -30px;
  top: -18px;
  background: linear-gradient(to left, rgba(109, 187, 217, 0.3), rgba(26, 71, 137, 0.3));
  border-radius: 10px;
  opacity: 0.5;
}
@media (max-width: 639px) {
  .card-layout .uk-card-media-top:after {
    opacity: 1;
  }
}
.card-layout .uk-card-media-top:before {
  content: "";
  height: 100%;
  width: 110%;
  z-index: 0;
  position: absolute;
  right: -57px;
  top: -30px;
  background: linear-gradient(to left, rgba(109, 187, 217, 0.3), rgba(26, 71, 137, 0.3));
  border-radius: 10px;
  opacity: 0.5;
}
@media (max-width: 639px) {
  .card-layout .uk-card-media-top:before {
    opacity: 1;
  }
}
.card-layout .uk-card-media-top img {
  border-radius: 10px;
  height: 370px;
  position: relative;
  z-index: 1;
}
.card-layout .uk-card-body {
  padding: 20px 20px 20px 0;
  max-width: 270px;
}
@media (min-width: 1600px) {
  .card-layout .uk-card-body {
    padding: 28px 28px 28px 0;
  }
}
.card-layout .uk-card-body * {
  color: white;
}
.card-layout .uk-card-body h3 {
  margin-bottom: 20px;
}
.card-layout .uk-card-body .secondary-btn {
  color: #FF9C00;
}
.card-layout .uk-card-body .secondary-btn::after {
  background: url(../images/icons/right-arrow-og.svg);
}

.testimonials .dots-icon {
  position: absolute;
  top: -20px;
  left: -20px;
}
@media (min-width: 640px) {
  .testimonials {
    margin: 100px 0 100px;
  }
}
@media (min-width: 1600px) {
  .testimonials {
    margin: 120px 0 120px;
  }
}
.testimonials-img {
  max-width: 400px;
  flex: 1.5;
}
@media (min-width: 1600px) {
  .testimonials-img {
    max-width: 474px;
  }
}
.testimonials-info {
  flex: 2;
  margin-left: 28px;
}
.testimonials-info h3 {
  margin: 0 0 8px 0;
  color: #072753;
}
.testimonials-info h4 {
  margin: 0 0 20px 0;
}
@media (min-width: 1600px) {
  .testimonials-info h4 {
    margin: 0 0 30px 0;
  }
}
.testimonials-info p {
  max-height: 80px;
  overflow: hidden;
}
.testimonials .uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
  stroke-width: 4px;
  color: #FF9C00;
}
.testimonials .uk-slidenav {
  width: 38px;
  height: 38px;
  border: 2px solid #072753;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials .uk-slidenav svg {
  width: 7px;
}
@media (min-width: 1600px) {
  .testimonials .uk-slidenav {
    width: 55px;
    height: 55px;
  }
}
.testimonials .uk-position-center-right {
  right: 43%;
}
.testimonials .uk-position-center-left {
  left: 43%;
}/*# sourceMappingURL=main.css.map */